@font-face {
    font-family: mainFontMedium;
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
}
body{
    background-color: #061735;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: mainFontMedium;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
h1{
    margin-top:2rem;
    color:white;
    width:100%;
}
section{
    position:absolute;
    margin-top:100vh;
    height:500px;
    min-width:400px;
    padding:2rem;
    border-radius: 2%;
    background-color: white;
}
#container{
    
}
h1{
    text-align: center;
}
