<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/get_cv/reset.css">
    <link rel="stylesheet" href="/login_register/register_app.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>CV Generator</h1>
    </header>
    <section>
        <form action="post" action="/register">
            <ul class="container">
                <li>
                    <h2>register</h2>
                </li>
                <li>
                    <label for="login"></label>
                    <input type="text" name="login" id="login" placeholder="login" minlength="8" maxlength="30" required >
                    <span class="validity"></span>
                </li>
                <li>
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="password" minlength="8" maxlength="40" required>
                    <span class="validity"></span>
                </li>
                <li>
                    <label for="rep_password"></label>
                    <input type="passwor" name="rep_password" id="rep_password" placeholder="repeat password" required>
                    <span class="validity"></span>
                </li>
                <li id="check_li">
                    <input type="checkbox" name="agree" id="agree" required>
                    <label for="agree">I agree all statements in <a href="/rules">ToS</a></label>
                </li>
                <input type="submit" value="register" id="submit">
                </li>
                <li id="to_login_href">
                    <p>have an account? <a href="/login">login</a></p>
                </li>
            </ul>
        </form>
    </section>
    <!-- <footer>
        <p>Copyright &copy Igor Ciesielski 2023</p>
    </footer> -->
    <script src="/login_register/login_app.js"></script>
</body>

</html>