<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/get_cv/reset.css">
    <link rel="stylesheet" href="/home/app.css">
    <script src="https://www.youtube.com/iframe_api"></script>
    <title>Cv Generator </title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/talentfinder">talentfinder</a>
            </li>
            <% if(user){ %>
                <li>
                    <a href="/account"><%= user.login %></a>
                </li>
                <li>
                    <a href="/logout?_method=POST">logout</a>
                </li>
            <% }else{ %>
                <li>
                    <a href="/register">register</a>
                </li>
                <li>
                    <a href="/login">login</a>
                </li>
            <% } %>

        </ul>
    </nav>
    <header>
        <h1>CV Generator</h1>
    </header>
    <main>
        <div id="player_container">
            <div id="player"></div>
        </div>
    </main>
    <footer>
        <p>Copyright &copy Igor Ciesielski 2023</p>
    </footer>
    <script src="/home/app.js"></script>
</body>
</html>