@font-face {
    font-family: mainFontMedium;
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
}
body{
    background-color: #061735;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: mainFontMedium;
    color:#F9F5EB;
    font-size: 1.4rem;
}

footer{
    text-align: center;
    margin-bottom:0.5em;
  }
footer p{
    margin-top:1em;
    margin-bottom:2em;
    font-size: 1rem;
    text-transform: none;
}
header h1{
    text-align: center;
    font-size: 3em;
    margin:0.5em 0;
    text-transform: none;
}
h2{
    text-align:center;
    font-size:1.5em;
    color:orange;
}
a{
    color:orangered;
}
a:hover{
    text-decoration: underline;
}
#all_records{
    text-transform: none;
}
#input_div{
    margin-top:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
#verb_like{
    height:60px;
    width:400px;
    font-size: 1em;
    font-family: mainFontMedium;
}
#search{
    height:60px;
    width:150px;
    font-size: 0.9em;
    font-family: mainFontMedium;
    background-color: #061735;
    color:white;
    border:3px solid orangered;
    transition: all 0.25s;
}
#search:hover{
    background-color: #07264e;
    color:#F9F5EB;
    border-color: orange;
    box-shadow: 0 0.5em 0.5em -0.4em orange;
    transform: translateY(-0.24em);
    cursor:pointer;
}